<app-default-header></app-default-header>
<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()" class="form_cadastro" style="background-color: #ffffff;">
  <h1>Cadastro de usuário</h1>
  <p class="text-body-secondary">Crie sua conta</p>
  
  <div class="mb-3">
    <input id="nome" formControlName="nome" placeholder="Nome de usuário" />
  </div>
  
  <div class="mb-3">
    <input id="email" formControlName="email" placeholder="E-mail" />
  </div>
  
  <div class="mb-3">
    <select id="genero" formControlName="genero">
      <option value="">Gênero</option>
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
    </select>
  </div>
  
  <div class="mb-3">
    <input id="dataNascimento" formControlName="dataNascimento" type="date" placeholder="Data de nascimento"/>
  </div>
  
  <div class="mb-3">
    <input id="senha" formControlName="senha" type="password" placeholder="Senha" />
  </div>
  
  <div class="mb-3">
    <input id="confirmaSenha" formControlName="confirmaSenha" type="password" placeholder="Confirme sua senha" />
  </div>
  
  <div class="d-grid">
    <button type="submit" class="btn btn-success">Criar conta</button>
  </div>
</form>
