:host {
  .legend {
    small {
      font-size: x-small;
    }
  }

  .machine-info-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  .machine-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-left: 5px solid #20a8d8; // Cor de destaque à esquerda do card
    transition: transform 0.2s ease-in-out;

    h3 {
      margin-top: 0;
      font-size: 1.5rem;
      color: #333;
    }

    p {
      margin: 5px 0;
      font-size: 1rem;
      color: #555;

      strong {
        color: #333;
        font-weight: bold;
      }
    }

    &:hover {
      transform: scale(1.05); // Efeito hover para destacar o card
    }
  }

  // Estilos dos gráficos
  .chart-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-left: 5px solid #4dbd74; // Cor verde como destaque para os gráficos
    transition: transform 0.2s ease-in-out;

    h4 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 15px;
      color: #333;
    }

    .card-body {
      padding: 15px;
    }

    &:hover {
      transform: scale(1.05); // Efeito hover para destacar o card de gráfico
    }
  }

  .select-machines {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: #20a8d8;
      outline: none;
    }
  }

  button[cButton] {
    background-color: #20a8d8;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #1b8bb3;
    }
  }
}
