<c-card class="my-4">
  <c-card-header>
    <strong>Selecione a Máquina para verificar suas produções</strong>
  </c-card-header>
  <c-card-body>
    <select class="select-machines" (change)="onMachineSelect($event)">
      <option value="">Selecione um valor</option>
      <option *ngFor="let machine of machines" [value]="machine.id">
        {{ machine.id }} - {{ machine.name }}
      </option>
    </select>
    <br>
    <button cButton class="mb-3" type="button" (click)="onSyncData()">
      Sincronizar Dados
    </button>
  </c-card-body>
</c-card>

<div class="machine-info-container" *ngIf="selectedMachine">
  
  <div class="machine-card">
    <h3>{{ selectedMachine.name }}</h3>
    <p><strong>ID:</strong> {{ selectedMachine.id }}</p>
    <p><strong>Localização:</strong> {{ selectedMachine.location }}</p>
  </div>
  <div class="machine-card">
    <h3>Monitoramento</h3>
    <p><strong>Status:</strong> {{ selectedMachine.status }}</p>
    <p><strong>Tipo:</strong> {{ selectedMachine.type }}</p>
  </div>
  <div class="machine-card">
    <h3>Recursos</h3>
    <p><strong>OEE Maquina:</strong> {{ selectedMachine.oeePercentage }}%</p>
    <p><strong>Tempo de Produção Estimado:</strong> {{ selectedMachine.plannedProductionTime }} hours</p>
    <p><strong>Capacidade de Produção:</strong> {{ selectedMachine.productionCapacity }} units</p>
  </div>

<div class="chart-card">
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Trend de Produção</h4>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [options]="mainChart.options"
      type="line"
      (chartRef)="handleChartRef($event)">
    </c-chart>
  </c-card-body>
</c-card>
</div>
<div class="chart-card">
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Percentual e Tendencia de OEE</h4>
    <c-chart
      [data]="chartBarData.data"
      [height]="300"
      [options]="chartBarData.options"
      type="bar">
    </c-chart>
  </c-card-body>
</c-card>
</div>
<div class="chart-card">
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Itens Produzidos: Sucessos x Defeituosos</h4>
    <c-chart
      [data]="chartDoughnutData.data"
      [height]="300"
      [options]="chartDoughnutData.options"
      type="doughnut">
    </c-chart>
  </c-card-body>
</c-card>
</div>
<div class="chart-card">
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Resultados por Turno</h4>
    <c-chart
      [data]="chartRadarData.data"
      [height]="300"
      [options]="chartRadarData.options"
      type="radar">
    </c-chart>
  </c-card-body>
</c-card>
</div>
</div>