<c-card class="my-4">
  <c-card-body>
    <form [formGroup]="dataSelectionForm" (ngSubmit)="updateAllCharts()" class="row g-3">
      <div class="col-md-6">
        <label for="xAxis" class="form-label">Selecione o Eixo X:</label>
        <select formControlName="xAxis" id="xAxis" class="form-select">
          <option value="oeePercentage">OEE Percentage</option>
          <option value="productionCapacity">Production Capacity</option>
          <option value="plannedProductionTime">Planned Production Time</option>
          <option value="id">Machine ID</option>
        </select>
      </div>

      <div class="col-md-6">
        <label for="yAxis" class="form-label">Selecione o Eixo Y:</label>
        <select formControlName="yAxis" id="yAxis" class="form-select">
          <option value="name">Machine Name</option>
          <option value="location">Location</option>
          <option value="status">Status</option>
          <option value="type">Machine Type</option>
          <option value="id">Machine ID</option>
        </select>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary">Atualizar Gráficos</button>
      </div>
    </form>
  </c-card-body>
</c-card>

<!-- Gráfico Principal -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Main Chart</h4>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [options]="mainChart.options"
      type="line"
      (chartRef)="handleChartRef($event)">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico de Barras -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Bar Chart</h4>
    <c-chart
      [data]="chartBarData.data"
      [height]="300"
      [options]="chartBarData.options"
      type="bar">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico Doughnut -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Doughnut Chart</h4>
    <c-chart
      [data]="chartDoughnutData.data"
      [height]="300"
      [options]="chartDoughnutData.options"
      type="doughnut">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico Pie -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Pie Chart</h4>
    <c-chart
      [data]="chartPieData.data"
      [height]="300"
      [options]="chartPieData.options"
      type="pie">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico Polar Area -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Polar Area Chart</h4>
    <c-chart
      [data]="chartPolarAreaData.data"
      [height]="300"
      [options]="chartPolarAreaData.options"
      type="polarArea">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico Radar -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Radar Chart</h4>
    <c-chart
      [data]="chartRadarData.data"
      [height]="300"
      [options]="chartRadarData.options"
      type="radar">
    </c-chart>
  </c-card-body>
</c-card>
