<c-card class="my-4">
  <c-card-header>
    <strong>Selecione a Máquina para verificar suas produções</strong>
  </c-card-header>
  <c-card-body>
    <select class="select-machines" (change)="onMachineSelect($event)">
      <option value="">Selecione um valor</option>
      <option *ngFor="let machine of machines" [value]="machine.id">
        {{ machine.id }} - {{ machine.name }}
      </option>
    </select>
    <br><br>
    <button cButton class="mb-3" type="submit">
      Sincronizar Dados
    </button>
  </c-card-body>
</c-card>

<!-- Gráfico Principal -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Trend Machine Production</h4>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [options]="mainChart.options"
      type="line"
      (chartRef)="handleChartRef($event)">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico de Barras -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Percentual and Tendency OEE</h4>
    <c-chart
      [data]="chartBarData.data"
      [height]="300"
      [options]="chartBarData.options"
      type="bar">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico Doughnut -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Produced Itens: Good x Defected</h4>
    <c-chart
      [data]="chartDoughnutData.data"
      [height]="300"
      [options]="chartDoughnutData.options"
      type="doughnut">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico Pie -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Pie Chart</h4>
    <c-chart
      [data]="chartPieData.data"
      [height]="300"
      [options]="chartPieData.options"
      type="pie">
    </c-chart>
  </c-card-body>
</c-card>

<!-- Gráfico Radar -->
<c-card class="my-4">
  <c-card-body>
    <h4 class="card-title mb-0">Radar Chart</h4>
    <c-chart
      [data]="chartRadarData.data"
      [height]="300"
      [options]="chartRadarData.options"
      type="radar">
    </c-chart>
  </c-card-body>
</c-card>
