.nav_perfil {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    align-self: center;
    list-style: none; 
    width: 400px; 
    padding-top: 15px;
}

.link_perfil {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
}

.link_perfil > a:hover {
    color: blue;
}

.link_perfil > a {
    text-decoration: none; 
    color: #000000;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.perfil_usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto_perfil {
    height: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('src/assets/images/perfil-usuario.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px 0px 0px 0px;
}

.perfil_usuario > h1 {
    font-size: 2em;
    font-weight: bold;
}

.dados_usuario {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
}

.dados_usuario > div {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 3px 3px 2px #a7a7a7;
    padding: 20px;
    margin: 10px;
    font-size: 1.5em;
}

.dados_usuario > div > label {
    font-weight: bold;
}

//Responsividade para telas menores

@media (max-width:1000px) {
    .dados_usuario > div {
        width: 300px;
        font-size: 1.2em;
    }
}

@media (max-width:770px) {
    .dados_usuario {
        width: 500px;
    }

    .nav_perfil {
        width: 260px;
        padding: 15px 0px 0px 0px;
    }

    .link_perfil {
        font-size: 1em;
    }
}