<app-default-header></app-default-header>

<c-container>
  <c-card>
    <c-card-body style="display: flex; flex-direction: column;">
      <label for="nome" style="font-size: bold !important;">Nome de usuário:</label>
      <span>Ricardo Jacques</span>
    </c-card-body>
    <c-card-body style="display: flex; flex-direction: column;">
      <label for="email" style="font-size: bold !important;">E-mail:</label>
      <span>ricardojacques&#64;hotmail.com</span>
    </c-card-body>
    <c-card-body style="display: flex; flex-direction: column;">
      <label for="sexo" style="font-size: bold !important;">Sexo:</label>
      <span>Masculino</span>
    </c-card-body>
    <c-card-body style="display: flex; flex-direction: column;">
      <label for="DataNascimento" style="font-size: bold !important;">Data de nascimento:</label>
      <span>15/06/2003</span>
    </c-card-body>
  </c-card>
</c-container>