<c-container class="h-auto px-4 container-lg" style="background-color: #ffffff !important;">
    <nav>
        <ul class="nav_perfil" style="">
            <li class="link_perfil"><a href="/dashboard">Dashboard</a></li>
            <li class="link_perfil"><a href="/cadastroUsuario">Cadastro de Usuário</a></li>
        </ul>
    </nav>
    <section class="perfil">
        <div class="perfil_usuario">
            <div class="foto_perfil"></div>
            <h1>Perfil</h1>
        </div>
        <div class="dados_usuario">
            <div>
                <label for="nome">Nome de usuário:</label>
                <span>Ricardo Jacques</span>
            </div>
            <div>
                <label for="email">E-mail:</label>
                <span>ricardojacques&#64;hotmail.com</span>
            </div>
            <div>
                <label for="sexo">Sexo:</label>
                <span>Masculino</span>
            </div>
            <div>
                <label for="DataNascimento">Data de nascimento:</label>
                <span>15/06/2003</span>
            </div>
        </div>
    </section>
</c-container>